@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Березний Роман</h1>
    <p> ІПЗ-22-1 Хмельницький Національний Університет</p>
    <p> Веб-додаток "Taneroll" - платформа для каршерінгу</p>
</div>
